:root {
 	--color-black: #000000;
	--color-blue: #20068C;
 	--color-lightblue: #D1DAE5;
 	--color-beige: #E5DEDC;
 	--color-cream: #F8F5F1;
 	--color-white: #ffffff;
	--color-grey: #999999;
	--color-red: #E51E56;
	--font-sans: "WorkSans", system-ui, sans-serif;
	--font-weight-light: 100;
 	--font-weight-regular: 400;
 	--font-weight-semi-bold: 550;
	--font-weight-bold: 700;
 	--font-weight-bolder: 900;	
 	--line-height-loose: 1.5;
 	--line-height-tight: 1.125;
 	--measure-loose: 70ch;
 	--measure-tight: 50ch;
	--space-xs: 0.8rem;
	--space-s: 1rem;
 	--space-m: 1.5rem;
	--space-l: 2.25rem;
 	--space-xl: 3rem;
	--font-xs: clamp(0.85rem, 1.2vw, 0.9rem);     /* ~13.6–14.4px */
	--font-s:  clamp(0.95rem, 1.5vw, 1rem);       /* ~15.2–16px */
	--font-m:  clamp(1rem, 1.8vw, 1.125rem);   /* ~16.8–18px */
	--font-l:  clamp(1.25rem, 2.2vw, 1.4rem);     /* ~20–22.4px */
	--font-xl: clamp(1.5rem, 3vw, 1.75rem);       /* ~24–28px */
	--font-2xl: clamp(2rem, 4vw, 2.5rem);         /* ~32–40px */
	--font-3xl: clamp(2.5rem, 6vw, 3.5rem);       /* ~40–56px */

}