---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main-content" class="container blog">
			<h1>About</h1>

			<p>I'm an accessibility specialist with a background in design systems and inclusive product development. I help teams build accessibility into everyday work, creating communities and practices that scale. My approach is practical, collaborative and shaped by my experience in large organisations.</p>

			<img src="/images/nerds.jpg" style="padding-top: 1.5rem" alt="Geri on stage speaking at a conference in front of a venn diagram that reads accessibility and design systems. The overlap of the venn diagram reads nerds">

			<p style="padding-top: var(--space-m)">The reason I specialise in accessibility is so no one gets left out.

			The web has brought me so much joy. It’s where I’ve made friends and found my people in communities. It sucks if someone is denied this experience because a company or product team doesn't prioritise accessibility.</p>

			<hr style="padding-top: var(--space-m)">

			<h2>I can help with...</h2>
			<h3>Kickstarting a digital accessibility program</h3>
			<p>I've helped large organisations get started with digital accessibility. I can create an accessibility strategy and roadmap, build momentum and work with your teams to embed good practice.</p>

			<h3>Legal and technical compliance</h3>
			<p>I can help you understand your legal obligations towards accessibility, like compliance with the European Accessibility Act and reporting to consumer market authorities. I've helped companies set up accessibility testing and auditing programs to help achieve technical compliance with the Web Content Accessibility Guidelines (WCAG).</p>
			
			<h3>Writing technical docs and guidelines</h3>
			<p>I'm an experienced writer of design system component specifications and guidelines. I have written and co-created accessibility policies, accessibility statements, VPATs and inclusive language guides. All informed by internal research.</p>

			<h3>Accessibility design reviews</h3>
			<p>Identifying UX and accessibility issues before designs go into production can save time and cost. I can review designs, troubleshoot problems and suggest improvements. Or better still, let me work alongside your design team to embed these good practices.</p>
			
			<h3>Accessibility workshops</h3>
			<p>I've written and facilitated accessibility workshops for design, engineering and product, both in-person and remote.</p>

		</main>
		<Footer />
	</body>
</html>