--- 
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main-content">
			<h1>Hello, I’m Geri</h1>
			<p>I’m a digital accessibility consultant from London. I design for scale and I advocate for inclusion.</p>

			<img src="/src/assets/gerireid2.jpg" alt="Geri Reid, a white woman with mid-length dark hair, speaking on stage at a conference">

			<p style="padding-top: var(--space-m)">Digital accessibility means making sure everyone can use digital products like websites, apps and software. I think it's important that everyone is included.</p>
			
			<p>I'm currently Lead Accessibility Specialist at <a href="https://www.just-eat.co.uk/">Just Eat Takeaway.com</a>. Previously, I’ve been a design and accessibility lead on design systems at <a href="https://www.newskit.co.uk/">News UK</a> and <a href="https://www.lloydsbank.com/">Lloyds Banking Group<a/>, and set up design system foundations at <a href="https://www.bpp.com/">BPP</a> and <a href="https://www.checkout.com/">Checkout.com</a>. Way back, I designed digital products at <a href="https://www.ubs.com/uk/en.html">UBS</a> and <a href="https://www.ml.com/">Bank of America</a>. </p>
			
			<p>I <a href="/speaking">speak</a> and <a href="/blog">write</a> about accessibility. My aim is to make inclusive design part of how we all work, not just an afterthought.</p>
		</main>
		<Footer />
	</body>
</html>
