---
const today = new Date();
---

<footer role="contentinfo">
  <div class="footer-inner">
    <h2 class="visually-hidden">Site footer</h2>

    <div class="footer-columns">

      <!-- Column 1 -->
      <div class="footer-column footer-column-1">
        <div class="footer-column-with-image">
          <img src="/images/geri-illustration.png" alt="Illustration of Geri Reid" class="footer-image" />
          <div>
            <h3>Availability</h3>
            <p>I am easily lured into speaking, mentoring, side quests and nerdy stuff.</p>
            <p>Say hi. 👋</p>
          </div>
        </div>
      </div>

      <!-- Column 2 + 3 grouped -->
      <div class="footer-column footer-column-right">
        <div class="footer-column footer-column-2">
          <h3>Get in touch</h3>
          <ul>
            <li><a href="mailto:geri@gerireid.com">geri@gerireid.com</a></li>
            <li><a href="https://bsky.app/profile/gerireid.com">Bluesky</a></li>
            <li><a href="https://www.linkedin.com/in/gerireid/">LinkedIn</a></li>
          </ul>
        </div>
        <div class="footer-column footer-column-3">
          <h3>Menu</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/speaking">Speaking</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-meta">
    <a href="/accessibility-statement">Accessibility Statement</a> • <a href="#">↑ Back to top</a><br><br>
    © Geri Reid Ltd • 2003–{today.getFullYear()} • Company number: 15018053 • My site doesn't track you :)
  </div>
</footer>
